# Node.js dependencies
node_modules/

# Expo-specific
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Local env files
.env
.env.*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build artifacts
build/
*.tsbuildinfo
*.orig.*

# Android/iOS credentials & keystores
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# IDEs & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Metro cache
.metro-health-check*

# Misc
app-example
